@import url('https://fonts.googleapis.com/css?family=Cinzel|Hind+Madurai|Shadows+Into+Light');

.container{max-width: 120rem; width: 90%; margin: 0 auto;}

.login form{text-align: right;}

.login button{padding-right: 50px;}

.button{
	background:transparent;
	color:rgba(200,200,200,1);
	text-align: center;
	margin: auto;
	border:none;
	text-decoration: none;
	cursor: pointer;
}

.button:hover{color:#696969;}
.button::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: (200,200,200,1);; opacity: 1; /* Firefox */}
.button:-ms-input-placeholder { /* Internet Explorer 10-11 */color: (200,200,200,1);;}
.button::-ms-input-placeholder { /* Microsoft Edge */color: (200,200,200,1);;}

.brand{
	font-stretch: condensed;
	font-size: 2.25rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{font-family: 'Shadows Into Light', cursive;	color: rgba(103,201,208,.9);}

.logo{ width: 50px;	height: 50px;}

.blackfilter{		
	-webkit-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

nav ul{
	display: flex;
	position: fixed;
	right: 2%;
}
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}
nav ul li:nth-child(1){
	animation-delay: 0s;
}
nav ul li:nth-child(2){
	animation-delay: .5s;
}
nav ul li:nth-child(3){
	animation-delay: 1s;
}
nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}
nav ul li a:last-child{
	margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgba(103,201,208,.9);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}
nav ul li a::before{
	top: 0;
	transform-origin: left;
}
nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1.1);
}
@keyframes slideIn {
	from{
	}
	to{
		transform: translateX(0);
	}
}
@media screen and (max-width: 800px){
	nav {
		position: relative;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}
	nav ul{
		display: flex;
		position: fixed;
		top: 130px;
		height: 100vh;
		width: 100%;
		flex-direction: row;
		clip-path: circle(0px at -10% -40%);
		-webkit-clip-path: circle(0px at -10% -40%);
		transition: all 1s ease-out;
		pointer-events: none;
	}
	nav ul.open{
		clip-path: circle(550px at 0% -25%);
		-webkit-clip-path: circle(550px at 0% -25%);
		pointer-events: all;
	}
	nav ul li{
		display: inline-grid;
	}
	.line{
		width: 25px;
		height: 4px;
		background: rgba(200,200,200,1);
		margin: 5px;
	}
	.hamburger{
		position: absolute;
		cursor: pointer;
		right: 2%;
		top: 65px;
		z-index: 2;
	}
}
.flexed {
   display: flex;
	 flex-direction: row;
	 justify-content : center
}
.flexed > div {
  background-color: #2a2a2a;
  width: 350px;
	height: 850px;
	margin:20px 10px 0px 10px;
	padding: 2%;
	overflow: auto;
  text-align: center;
}

@media screen and (max-width: 1100px){
	.flexed {
	   display: flex;
		 flex-direction: column;
		 justify-content: center;
  	 align-items: center;
	 }
	 .flexed > div {
		background-color: #2a2a2a;
		width: 680px;
		height: 270px;
		margin:20px 10px 0px 10px;
		padding: 2%;
		overflow: auto;
		text-align: center;
	 }
}
@media screen and (max-width: 750px){
	.flexed {
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
		 align-items: center;
	 }
	 .flexed > div {
		background-color: #2a2a2a;
		width: 360px;
		height: 270px;
		margin:20px 10px 0px 10px;
		padding: 2%;
		overflow: auto;
		text-align: center;
	 }
}

.ex {display: flex; flex-direction: row; justify-content : center}

.ex > div {
	background-color: #2a2a2a;
	width: auto;
	height: auto;
	margin: 1%;
	padding: 2%;
	text-align: center;
	border-radius: 3%;
}

.ex a:hover { opacity:0.9; }

.linkgyg img{ width: 500px;	height: auto; border-radius: 1%;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));}

.localfyblog img{ width: 300px; height: auto; border-radius: 5%;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));}

.nygde img{	width: 100px; height: auto;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));}

.guidelicence img{ width: 150px; height: auto; border-radius: 5%;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));
	mask-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,35,0,.2));}

.map{ height: 500px; margin-left: auto; margin-right: auto;
	padding: 1%; position: relative; background-color: #3a3a3a;}

.grid{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	position: relative;
	background-color: #3a3a3a;
}

.gridback{
	height: 1000px;
	background-color: transparent;
	margin-bottom: 50px;	
}

.tile {
	background-color: #2a2a2a;
	position: absolute;
}
#tile1{
	z-index: 2;
	top: 20px;
	left: 70px;
	width: 270px;
	height: 270px;
}
#tile1 img{
	width: 100%;
  	height: auto;
	border: 5px solid #2a2a2a;
	-webkit-mask-image: radial-gradient(ellipse 75% 85% at 40% 40%, black 35%, transparent 75%);
	mask-image: radial-gradient(ellipse 75% 85% at 40% 40%, black 35%, transparent 75%);
}
#tile2{
	top: 310px;
	left: 70px;
	width: 270px;
	height: 710px;
	overflow: auto;
}
#tile2 a div {
	width: 200px;
	height: 200px;
	margin: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#tile2 a :hover {
	opacity:0.9;
}
#tilecenter{
	top: 20px;
	left: 360px;
	width: 380px;
	height: 1000px;
	overflow: auto;
	text-align: center;
	padding: 1%;
	margin: auto;
}
#tilecenter a :hover {
	opacity:0.9;
}

#tile3{
	top: 20px;
	left: 760px;
	width: 560px;
	height: 270px;
}
.carousel-container{
	z-index: 2;
	position: relative;
	width: 560px;
	height: 270px;
	overflow: hidden;
	border: 5px solid #2a2a2a;
}
.carousel-slide{
	height: 270px;
	width: 560px;
	display: flex;
}
.carousel-slide img{
	width: 100%;
  height: auto;
}
#prevBtn{
	position:absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 20px;
	color: white;
	background-color: #2a2a2a;
	border: none;
	opacity: 0.3;
	cursor: pointer;
}
#nextBtn{
	position:absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 20px;
	color: white;
	background-color: #2a2a2a;
	border: none;
	opacity: 0.3;
	cursor: pointer;
}
#tile7{
	top: 310px;
	left: 760px;
	width: 270px;
	height: 710px;
	padding: 1%;
	overflow: auto;
	text-align: center;
}
#tile5{
	top: 310px;
	left: 1050px;
	width: 270px;
	height: 75px;
}
.box{
	margin: auto;
	padding: 2%;
	font-size: 15px;
}
.error{
	color: red;
}
.success{
	color: green;
}
#tile6{
	z-index: 2;
	top: 405px;
	left: 1050px;
	width: 270px;
	height: 125px;
}
 #tile6 img{
	width: 100%;
	height: auto;		
} 
#tile4{
	top: 550px;
	left: 1050px;
	width: 270px;
	height: 470px;
	padding: 1%;
	overflow: auto;
}

@media screen and (max-width: 1350px){
	#tile1,	#tile2, #tile6, #tile6 img, #tile5{
		width: 0px;
		height: 0px;
	}
	.box{
		width: 0px;
		height: 0px;
		font-size: 0px;
	}

	#tile7{
		top: 310px;
		left: 460px;
		width: 270px;
		height: 710px;
		padding: 1%;
		overflow: auto;
	}
	#tilecenter{
		top: 20px;
		left: 60px;
		width: 380px;
		height: 1000px;
		overflow: auto;
		text-align: center;
		padding: 1%;
		margin: auto;
	}
	#tile4{
		top: 310px;
		left: 750px;
		width: 270px;
		height: 710px;
		padding: 1%;
		overflow: auto;
		text-align: center;
	}
	#tile3{
		top: 20px;
		left: 460px;
		width: 560px;
		height: 270px;
	}
	.carousel-container{
		position: relative;
		width: 560px;
		height: 270px;
		overflow: hidden;
		border: 5px solid #2a2a2a;
	}
	.carousel-slide{
		height: 270px;
		width: 560px;
		display: flex;
	}
	.carousel-slide img{
		width: 100%;
	  	height: auto;
	}
	#prevBtn{
		position:absolute;
		top: 50%;
		z-index: 10;
		left: 5%;
		font-size: 20px;
		color: white;
		background-color: #2a2a2a;
		border: none;
		opacity: 0.3;
		cursor: pointer;
	}
	#nextBtn{
		position:absolute;
		top: 50%;
		z-index: 10;
		right: 5%;
		font-size: 20px;
		color: white;
		background-color: #2a2a2a;
		border: none;
		opacity: 0.3;
		cursor: pointer;
	}
}
@media screen and (max-width: 1050px){
	#tile1,	#tile2, #tile5, #tile6{
		width: 0px;
		height: 0px;
	}
	#tile7{
		top: 20px;
		left: 500px;
		width: 0px;
		height: 0px;
		font-size: 0px;
	}
	#tile4{
		top: 310px;
		left: 420px;
		width: 270px;
		height: 710px;
		padding: 1%;
		overflow: auto;
		text-align: center;
	}
	#tilecenter{
		top: 310px;
		left: 20px;
		width: 380px;
		height: 710px;
		overflow: auto;
		text-align: center;
		padding: 1%;
		margin: auto;
	}
	#tile3{
		top: 20px;
		left: 20px;
		width: 670px;
		height: 270px;
	}
	.carousel-container{
		margin: auto;
		position: relative;
		width: 560px;
		height: 270px;
		overflow: hidden;
		border: 5px solid #2a2a2a;
	}
	.carousel-slide{
		height: 270px;
		width: 560px;
		display: flex;
	}
	.carousel-slide img{
		width: 100%;
	  	height: auto;
	}
	#prevBtn{
		position:absolute;
		top: 50%;
		z-index: 10;
		left: 5%;
		font-size: 20px;
		color: white;
		background-color: #2a2a2a;
		border: none;
		opacity: 0.3;
		cursor: pointer;
	}
	#nextBtn{
		position:absolute;
		top: 50%;
		z-index: 10;
		right: 5%;
		font-size: 20px;
		color: white;
		background-color: #2a2a2a;
		border: none;
		opacity: 0.3;
		cursor: pointer;
	}

}
@media screen and (max-width: 710px){
	#tile1, #tile2,	#tile3, #tile5, #tile6, #tile7, #prevBtn, #nextBtn,.carousel-container, .carousel-slide, .carousel-slide img, .tile img, #carouselExampleSlidesOnly{
		width: 0px;
		height: 0px;
		border: none;
	}
	#tilecenter{
		top: 20px;
		left: 20px;
		width: 510px;
		height: 580px;
		overflow: auto;
		text-align: center;
		padding: 1%;
		margin: auto;
	}
	#tile4{
		top: 620px;
		left: 20px;
		width: 510px;
		height: 400px;	
		overflow: auto;
		text-align: center;
	}
}
.sevicecontrol, .link-box, .link-detail{
	background-color: #3a3a3a;
	border: .1px solid black;
	padding: 5%;
	margin: 15px 0px;
}
.link-box h3, .link-box p{
	margin: 2%;
}
.link-box-pic{
	height: 150px;
	width: 200px;
	margin: auto;
	overflow: hidden;
}
.link-picbar{
	height: 300px;
	width: 200px;
	margin: auto;
	overflow: hidden;
}
.link-box-pic img, .link-picbar img{
	width: auto;
	height: 100%;
}
.link-textbar, .link-linkbar, .control-search, .control-category, .control-logcategory,.control-piccategory, .control-event, .control-rest{
	margin: 5px;
	padding: 2%;
	border: .1px solid black;
 }

.link-linkbar{
  display: grid;
	grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
 }

.gallery{
	padding: 5%;
	border: .1px solid black;
}
.gallery-upload{
	text-align: center;
	padding: 5%;
}

footer{
	padding: 1%;
	background-color:#1a1a1a;
}
footer p{
	text-align: left;
	padding-left: 50px;
}
.restlinks{
	text-align: right;
}
.restlinks a{
	padding-right: 50px;
}
.sociallinks{
	text-align: center;
	padding-right: 25%;
  padding-left: 25%;
  display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
}
.donation{
	text-align: right;
	padding-right: 50px;
}
.donation button{
	padding: 5px;
}
